a {

  color: white;
}

div.box-cont {

  color: white;

  .box {

    background: purple;
  }
}

div.box-number {

  .box {

    background: orange;
  }
}

div.box-letter {

  .box {

    background: red;
  }
}

div.box-paganti {

  .box {

    background: grey;
  }
}
